.msg_history#messages data-room-id="#{ room.id }" data-user-id="#{ current_or_guest_user.id }"
  = render room.room_messages, current_user_id: current_or_guest_user.id
= render "room_messages/message_form", room: room
